Node_red/flows_enviar_datos.json
[
    {
        "id": "46536c5fc102bc3c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31f5647146b8c61d",
        "type": "serial in",
        "z": "46536c5fc102bc3c",
        "name": "",
        "serial": "5b9c5f71f5fdc8ea",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "904a433ae0a85012",
                "6fcc90e4b7234314"
            ]
        ]
    },
    {
        "id": "904a433ae0a85012",
        "type": "debug",
        "z": "46536c5fc102bc3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "6fcc90e4b7234314",
        "type": "function",
        "z": "46536c5fc102bc3c",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar ph = parseInt(output[0]);\nvar humedad = parseInt(output[1]);\nvar conductividad = parseInt(output[2]);\nvar temperatura = parseInt(output[3]);\n\nvar msg1 = {payload : ph};\nvar msg2 = {payload : humedad};\nvar msg3 = {payload : conductividad};\nvar msg4 = {payload : temperatura};\nreturn [msg1, msg2, msg3, msg4];\n\n//return msg;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "369987f6c2c92c99",
                "40783473bfa2cfff"
            ],
            [
                "0035a9d2bd013107",
                "c87a8f76c39f4f59"
            ],
            [
                "5c1eff4bef00ac90",
                "83f657aaa7bfc57e"
            ],
            [
                "b9fc8bd672ee9d5e",
                "0318191b06d210fd"
            ]
        ]
    },
    {
        "id": "369987f6c2c92c99",
        "type": "ui_gauge",
        "z": "46536c5fc102bc3c",
        "name": "",
        "group": "f54112e7e84d2d12",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ph",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "7",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 630,
        "y": 20,
        "wires": []
    },
    {
        "id": "0035a9d2bd013107",
        "type": "ui_gauge",
        "z": "46536c5fc102bc3c",
        "name": "",
        "group": "f54112e7e84d2d12",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c1eff4bef00ac90",
        "type": "ui_gauge",
        "z": "46536c5fc102bc3c",
        "name": "",
        "group": "f54112e7e84d2d12",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Conductividad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "b9fc8bd672ee9d5e",
        "type": "ui_gauge",
        "z": "46536c5fc102bc3c",
        "name": "",
        "group": "f54112e7e84d2d12",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "0318191b06d210fd",
        "type": "mqtt out",
        "z": "46536c5fc102bc3c",
        "name": "",
        "topic": "/capstone/proyecto/temperatura",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fc2fbe4c621435a",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "40783473bfa2cfff",
        "type": "mqtt out",
        "z": "46536c5fc102bc3c",
        "name": "",
        "topic": "/casptone/proyecto/ph",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fc2fbe4c621435a",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "c87a8f76c39f4f59",
        "type": "mqtt out",
        "z": "46536c5fc102bc3c",
        "name": "",
        "topic": "/capstone/proyecto/humedad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fc2fbe4c621435a",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "83f657aaa7bfc57e",
        "type": "mqtt out",
        "z": "46536c5fc102bc3c",
        "name": "",
        "topic": "/casptone/proyecto/conductividad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fc2fbe4c621435a",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "5b9c5f71f5fdc8ea",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f54112e7e84d2d12",
        "type": "ui_group",
        "name": "Default",
        "tab": "3544c12b1b3fa533",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fc2fbe4c621435a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "mamalon4565456",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3544c12b1b3fa533",
        "type": "ui_tab",
        "name": "Home2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]